# Python cache files
__pycache__/

# IDE cache files
.vscode
.idea

# Output files
output/

# Configuration files
config/

# Database file
data/schedule.db

# Temporary files
temp.txt

# Logs files
logs*

# Python virtual environment
venv*
venv/
